{% extends 'base.html' %}

{% block 'title' %} Home page {% endblock %}


{% block 'content' %}
<div class="container">
 {% for p in post %}
    <h3>{{p.title}}</h3>
    <span>{{p.category}}</span>&nbsp;|&nbsp;<span>{{p.posted_date}}</span>
    <br/>
    <img src="{{MEDIA_URL}}{{p.image.url}}" style="height:500px;width:auto;">
    <hr/>
    <p>{{p.content|truncatewords:30}}</p>
    <a href="{% url 'details' p.id  %}">read more</a> |
    <a href="{% url 'deletePost' p.id %}">Delete</a> |
    <a href="{% url 'updateData' p.id %}">Update</a> |

 {% endfor %}
</div>
{% endblock %}

